<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="8.29">
<file name="/home/knoldus/Kup/functional java/Optional2/src/main/java/test/com/knoldus/PhoneBookCrawlerTest.java">
<error line="73" severity="error" message="Line is longer than 80 characters (found 83)." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="84" severity="error" message="Line is longer than 80 characters (found 106)." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
</file>
<file name="/home/knoldus/Kup/functional java/Optional2/src/main/java/com/knoldus/PhoneBookCrawler.java">
<error line="69" severity="error" message="Line is longer than 80 characters (found 101)." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="112" severity="error" message="Line is longer than 80 characters (found 113)." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
</file>
</checkstyle>
